/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/*Generics*/
h1{
    font-size: 2.5rem;
}

.intestazione{
    background-color: #EEF3FA;
    
}
body{
    padding-top: 10px;
    background-color: #EEF3FA;
}

h1{
    display: inline;
    vertical-align: middle;
    font-weight: normal;
}
.section{
    width: 700px;
    margin: 0 auto; 
}

.sopra{
    margin-top: 25px;
    background-color: white;
    border-radius: 3px;
    padding: 7px;
}
.sotto{
    margin-top: 2px;
    background-color: white;
    border-radius: 3px;
}
h4{
    margin-bottom: 15px;
}
.spazio{
    margin-left: 15px;
}
#title{
    margin-top: 10px;
}

.bottone{
    font-weight: bold;
    text-align: center;
    width: 80px;
    height: 25px;
    border-radius: 7px;
}

.blu{
    background-color: #1E90FF;
    color: white;
    border: none;
}

.grigio{
    color: rgb(204, 202, 202);
    background-color: white;
    border: 1px solid gray;
}

.button{
    font-weight: bold;
    text-align: center;
    width: 60px;
    height: 25px;
    border-radius: 15px;
}
/*utility*/
.container{
    margin: 1px;
    background-color:#FFFFFF;
    border-radius: 3px;
}

.logo{
    vertical-align: middle;
}

.spunta{ 
    color: green;
    font-size: 1rem;
    margin-right: 10px;
    border: 2px solid green;
    border-radius: 50%;
}

.cross{
    color: red;
    font-size: 1rem;
    margin-right: 10px;
    border: 2px solid red;
    border-radius: 50%;
}
